@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  @apply bg-neutral-900 text-neutral-100;
  font-family: "Poppins", serif;
}

p {
  @apply mb-3
}

.font-heading {
  @apply font-black text-brand mb-5
}

.main-photo {
  filter: hue-rotate(-120deg);
}

@layer components {
  .heading {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    @apply text-3xl lg:text-4xl font-bold;
  }

  .subheading {
    @apply text-xl font-extrabold tracking-wider;
  }

  .video-16-9 {
    @apply h-[320px] lg:h-[280px] xl:h-[430px];
  }
}

.blue-hover {
  @apply text-teal-300 hover:text-teal-400 transition-colors duration-200;
}

.genre-picker {
  min-height: -webkit-fill-available;
}

.btn {
  @apply border-2 border-brand text-brand py-2 px-3 rounded-xl;
  /* @apply hover:bg-teal-400 hover:text-teal-600; */
  @apply transition-colors duration-300;
}
