@import url("https://use.typekit.net/cgj7ajr.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  @apply bg-gradient-to-br from-blue-500 to-teal-600;
}

.font-bubblegum {
  font-family: bubblegum-pop-vanilla, sans-serif;
}

.main-photo {
  filter: hue-rotate(-120deg);
}

.heading {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  @apply text-4xl lg:text-5xl font-bold text-teal-300;
}

.subheading {
  @apply text-xl lg:text-2xl font-extrabold text-teal-100 tracking-wider;
}

.blue-hover {
  @apply text-teal-300 hover:text-teal-400 transition-colors duration-200;
}

.genre-picker {
  min-height: -webkit-fill-available;
}

.btn {
  @apply border-2 border-teal-400 text-teal-400 py-2 px-3 rounded-xl;
  @apply hover:bg-teal-400 hover:text-red-600;
  @apply transition-colors duration-300;
}
